/* CSS v1.0.1 */

body {
  background-image: url("../imgs/wp-2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #ffffff;
}

.container-central {
  width: 100%;
  height: 600px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: visible;
  /* background: blue; */
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  /* background: blue; */
}

.content-all {
  width: 100%;
  display: flex;
  align-items: center;
}

.content-about {
  margin-left: 5%;
  text-align: left;
  /* background: red; */
}

.about-title {
  font-family: Caveat, cursive !important;
}

.about-p {
  font-size: 1.5rem;
  line-height: 2rem;
}

.content-tags {
  /* background: green; */
}

.tagcloud {
  /* font-family: 'Poppins', sans-serif; */
  font-size: 20px;
  font-weight: 650;
  margin: 0px auto 0px auto;
}

.tagcloud--item {
  color: #000000;
}

.tagcloud--item:hover {
  color: #36454F;
}

.mail-to {
  color:#17a2b8 !important;
}

/* Responsive CSS */

@media (max-width: 768px) {
  /* For mobile phones: */
  .container-central {
    height: 100vh;
    margin: 20px auto 0px auto;
  }
}

@media (max-width: 360px) {
  /* For mobile phones: */
  .content-tags {
    padding: 0px 20px !important;
  }
}
